.devoir{
    width:100w;
    height:100vh;
    background-color: #2B2A4C;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.1fr 700px;
}

.iframe{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(315deg,#EEE2DE, #EA906C, #B31312);
}


.img{
    float: left;
    padding: 50px 0px 0px 0px;
}

.generale{
    display: flex;
    color:#B31312 ;
}


.page{
    color:#2B2A4C;
    width: 60w;
    text-align: justify;
    padding: 110px 80px 80px 0px;
}

header{
    display: inline;
}

header nav ul li{ 
    display: inline;
    padding: 0px 25px 0px 25px ;
}

header nav ul li a{
    font-size: large;
    text-decoration: dashed;
    color: #EEE2DE;
}
    
nav {
    display: flex;
    justify-content: center;

}

header nav ul li:hover{
    min-height: 0%;
    background-image: linear-gradient(315deg,#EEE2DE, #EA906C, #B31312);   
}

.head{
    font-size: x-large;
    float: left;
    padding: 0px 0px 0px 25px;
    color: black;
}

.head ul li{
    list-style-type: none;
}

.head{
    width: 95vw;
    height: 680px;
}

.head{
    color: #EEE2DE;
    padding: 0px 0px 0px 20px;
    float: left;
    background-image: url(../images/Devops.jpg);
}

.table{
    color: #EEE2DE;
    padding: 80px 0px 0px 350px;
    float: left;
}

.loisir{
    color: #EEE2DE;
    padding: 300px 0px 0px 0px;
    float: left;
}

.competence{
    display: inline;
    padding: 0px 0px 0px 9px;
}

.competence {
display: flex;
justify-content: center;
}

.competence {
    width: 98vw;
    height: 680px;
}

.competence{
    background-image: url(../images/Devops.jpg);
}

.techno{
    margin: 0px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #EA906C;
    color: #EEE2DE;
}

.outil{
    margin: 25px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #B31312;
    color: #EEE2DE;
}

.langue{
    margin: 50px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #2B2A4C;
    color: #EEE2DE;
}

.archi{
    margin: 75px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #EA906C;
    color: #EEE2DE;
}

.base{
    margin: 100px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #B31312;
    color: #EEE2DE;
}

.methode{
    margin: 125px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #2B2A4C;
    color: #EEE2DE;
}

.a{
    margin: 100px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #EA906C;
    color: #EEE2DE; 
}

.b{
    margin: 75px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #B31312;
    color: #EEE2DE;
}

.c{
    margin: 50px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #2B2A4C;
    color: #EEE2DE;
}
.d{
    margin: 25px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color:  #EA906C;
    color: #EEE2DE;
}

.e{
    margin: 0px 0px 0px 0px;
    width: 20%;
    font-size: x-large;
    background-color: #B31312;
    color: #EEE2DE; 
}

.expert{      
    display: flex;
    padding: 0px 0px 0px 9px;   
}

 .expert{
    width: 98vw;
    height: 680px;
 }

 .expert{
    background-image: url(../images/Devops.jpg);
 }


 .title{
    display: inline;
    text-align: center;
    font-size: xx-large;
    color: #EEE2DE;
 }

 .form{
    display: inline;
    text-align: center;
    font-size: x-large; 
 }
 .form ul li{
   list-style-type: none; 
 }

 .tete{   
    display: inline;
    text-align: center;
    font-size: xx-large;
    color: #EEE2DE;
 }

 footer nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    font-size: xx-large;
 }

 .cage{
    float: left;
    padding: 20px 0px 0px 600px;
 }

 .emcage{
    padding: 20px 0px 0px 600px;
    width: 500vw;
 }

 .corp{
    background-color: #2B2A4C;
    height: 400px;
 }

 .mess{
    font-size: larger;
    color: #EEE2DE;
    padding: 30px 0px 0px 600px;
 }
 
 .mail{
    font-size: larger;
    color: #EEE2DE;
    padding: 30px 0px 0px 600px;
 }

 .group{
    padding: 200px 0px 0px 600px;
 }

 .compte{
    background-image: url(../images/Devops.jpg);
 }