.root{
    width:100w;
    height:100vh;
    background-image: linear-gradient(315deg,green, #FFE109, red);

    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.2fr 1fr 0.3fr;

}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline;
    float: none;
}
nav {
    display: flex;
    justify-content: center;
}


header nav ul li {
    color: #ffffff;
    text-decoration: #ffffff;
}
header nav ul li:hover {
    background-color: aquamarine;
    
}

header{
    background-color:red ;
}
section{
    background-color: #FFE109;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article{
    font-size: xx-large;
    border: 1px #ffffff solid;
    margin: 10px 10px 10px 10px;
    padding: 3px 3px 3px 3px;
}

article:hover {
    border: 5px #000000 solid;
    color: #ffffff;
  }

footer{
    background-color: green;
}